<html>
    <head>
        <title> Custom User</title>
    </head>
    <body>
        <h2>Hello, {{current_user}}!</h2>
        <h3>Filter your tickets by status: <span>
        <form method='POST'>
        {% csrf_token %}
        <select name="SortBy" onchange="this.form.submit();">
            <option value='NULL' {% if 'NULL' in request.POST.SortBy %} Selected {% endif %}>--</option>
            <option value='InProgress' {% if 'InProgress' in request.POST.SortBy %} Selected {% endif %}>In Progress</option>
           <option value='Filed' {% if 'Filed' in request.POST.SortBy %} Selected {% endif %}>Filed</option>
            <option value='Completed' {% if 'Completed' in request.POST.SortBy %} Selected {% endif %}>Completed</option>
        </select>
        </form>
        </span></h3>
        <ul>
            {% for type, tickets in ticket_types %}
            {% for ticket in tickets %}
            {% if type == 'User Tickets' %}
            <li>
                [{{ticket.posted_date}}]
                <a href='/ticket/{{ticket.id}}'>{{ticket.title}}</a>
                ({{ticket.status}})
                {% if ticket.status != 'Completed' %}
                    | <a href='/ticket/{{ticket.id}}/completed'><button>Mark Complete</button></a>
                {% endif%}
            </li>
            {% endif%}
            {% endfor%}
            {% endfor%}


        </ul>
        <h3>All tickets:</h3>
        <ul>
            {% for type, tickets in ticket_types %}
            {% for ticket in tickets %}

            <li>
                [{{ticket.posted_date}}]
                <a href='/ticket/{{ticket.id}}'>{{ticket.title}}</a>
                ({{ticket.status}}
                | Assigned to:
                {% if ticket.assign_to_user_id != None %}
                <a href="/user/{{ticket.assign_to_user_id}}">{{ticket.assign_to_user_name}}</a>)
                {% else %}
                {{ticket.assign_to_user_name}}
                {% endif%}
                | <a href='/editticket/{{ticket.id}}'><button>Edit</button></a>
                {% if ticket.status != 'Completed' %}
                | <a href='/ticket/{{ticket.id}}/completed'><button>Mark Complete</button></a>
                {% endif%}
            </li>


            {% endfor %}
            {% endfor %}
        </ul>


        <a href="/logout"><button>Log Out</button></a>
        <a href="/addticket"><button>Add ticket</button></a>
        <a href="/adduser"><button>Create New User</button></a>


    </body>
</html>