<a href="/"><button>Home</button></a>

<h1>{{ticket.title}}</h1>
<p>Description: {{ticket.description}}</p>
<p>Filed: {{ticket.posted_date}}</p>
<p>Status: {{ticket.status}}</p>
<p>Filed by: <a href="/user/{{ticket.filed_by.id}}">{{ticket.filed_by}}</a></p>
<p>
    Assigned to:
    <a href="/user/{{user_name.id}}">{{user_name}}</a>
</p>
<p>
    Completed by:
    {% if ticket.completed_by %}
    <a href="/user/{{ticket.completed_by.id}}">{{ticket.completed_by}}</a>
    {% else %}
    {{ticket.completed_by}}
    {% endif %}
</p>
<a href="/editticket/{{ticket.id}}"><button>Edit ticket</button></a>
